@font-face {
  @include includeFont(400, $first-font, "CenturyGothic-Regular");
}

@font-face {
  @include includeFont(700, $first-font, "CenturyGothic-Bold");
}

@font-face {
  @include includeFont(300, $second-font, "ProximaNova-Light");
}

@font-face {
  @include includeFont(400, $second-font, "ProximaNova-Regular");
}

@font-face {
  @include includeFont(600, $second-font, "ProximaNova-Semibold");
}
@font-face {
  @include includeFont(700, $second-font, "ProximaNova-Bold");
}


