.advise {
  padding-top: 40px;
  padding-bottom: 45px;

  @media (min-width: 1024px) {
    padding-top: 65px;
    padding-bottom: 85px;
  }
}

.advise__title {
  text-align: center;
  margin-bottom: 40px;


  @media (min-width: 1024px) {
    margin-bottom: 0;
  }

  @media (min-height: 1280px) {
    &::before,
    &::after {
      width: 139px;
      right: 0;
      top: 50%;
    }

    &::before {
      top: 30%;
    }

    &::after {
      top: 60%;
    }
  }
}

.advise__top {
  margin-bottom: 45px;

  @media (min-width: 1024px) {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 65px;
  }
}

.advise__items {
  @media (min-width: 1024px) {
    margin-left: 50px;
  }
}

.advise__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  row-gap: 75px;

  @media (min-width: 1024px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 55px;
  }

  @media (min-height: 1280px) {
    row-gap: 25px;
  }
}

.advise__box {
  position: relative;
}

.advise__item {
  position: relative;

  & .advise__slider > .swiper {

    .swiper__image {
      overflow: hidden;

      & picture {
        display: block;
        line-height: 0;
      }

      & img {
        object-fit: cover;
      }
    }

    .swiper-button {
      width: 48px;
      height: 40px;
    }
  }

  .swiper-button {
    bottom: 29px;
    top: initial;
    margin-top: 0;
  }

  .swiper__name {
    width: calc(100% - 139px);
    position: absolute;
    transform: translateY(-50%);
    z-index: 2;

    @media (min-width: 1024px) {
      width: 230px;
    }

    @media (max-width: 359px) {
      width: calc(100% - 100px)
    }
  }

  &:nth-child(1) {
    .swiper__image {
      border-radius: 70px 0px 0px 0px;
    }

    .swiper-button-prev {
      right: 48px;
      left: initial;
    }

    .swiper-button-next {
      right: 0;
    }

    .swiper__name {
      right: 0;
    }

    @media (min-width: 1024px) {
      width: 60%;

      .swiper__image {
        border-radius: 0px 0px 0px 157px;
      }

      .swiper__name {
        right: 170px;
      }

      .swiper-button-prev {
        bottom: -1px;
        right: 122px;
      }

      .swiper-button-next {
        bottom: -1px;
        right: 74px;
      }
    }

    @media (min-height: 1280px) {
      width: 820px;
    }
  }

  &:nth-child(2) {
    .swiper__image {
      border-radius: 0px 0px 70px 0px;
    }

    .swiper__name {
      left: 0;
      border-radius: 0px 0px 30px 0px;
    }

    .swiper-button-prev {
      left: 0;
    }

    .swiper-button-next {
      left: 48px;
    }

    @media (min-width: 1024px) {
      width: 38%;
      margin-top: 35px;

      .swiper__image {
        border-radius: 0px 0px 0px 0px;
      }

      .swiper__name {
        left: 32px;
        top: 0;
        border-radius: 0px 0px 0px 30px;
      }

      .swiper-button-prev {
        left: initial;
        top: -2px;
        right: 47px;
      }

      .swiper-button-next {
        left: initial;
        top: -2px;
        right: 0;
      }
    }

    @media (min-height: 1280px) {
      width: 400px;

      .swiper__name {
        left: 75px;
      }
    }
  }

  &:nth-child(3) {
    .swiper__image {
      border-radius: 70px 0px 0px 0px;
    }

    .swiper-button-prev {
      right: 48px;
      left: initial;
    }

    .swiper-button-next {
      right: 0;
    }

    .swiper__name {
      right: 0;
    }

    @media (min-width: 1024px) {
      width: 38%;
      margin-top: -85px;

      .swiper__image {
        border-radius: 0px 0px 0px 0px;
      }

      .swiper__name {
        right: 32px;
        border-radius: 0px 0px 30px 0px;
      }

      .swiper-button-prev {
        left: 0;
        bottom: -1px;
      }

      .swiper-button-next {
        left: 48px;
        bottom: -1px;
      }
    }

    @media (min-height: 1280px) {
      width: 400px;

      .swiper__name {
        right: 74px;
      }
    }
  }

  &:nth-child(4) {
    .swiper__image {
      border-radius: 0px 0px 70px 0px;
    }

    .swiper__name {
      left: 0;
      border-radius: 0px 0px 30px 0px;
    }

    .swiper-button-prev {
      left: 0;
    }

    .swiper-button-next {
      left: 48px;
    }

    @media (min-width: 1024px) {
      width: 60%;

      .swiper__image {
        border-radius: 0px 0px 157px 0px;
      }

      .swiper__name {
        left: 170px;
        top: 0;
        border-radius: 0px 0px 0px 30px;
      }

      .swiper-button-prev {
        left: 400px;
        top: -2px;
      }

      .swiper-button-next {
        left: 448px;
        top: -2px;
      }
    }

    @media (min-height: 1280px) {
      width: 820px;
    }
  }
}

.advise__text {
  display: none;

  @media (min-width: 1024px) {
    font-size: 24px;
    line-height: 29px;
    font-family: $first-font;
    color: $first-color;
    position: absolute;
    left: 420px;
    bottom: -30px;
  }

}
