.burger {
  display: flex;
  background-color: #000000;
  border: none;
  padding: 10px 14px;
  align-items: center;
  cursor: pointer;
  width: 100%;
  z-index: 100;

  &--active {
    .burger__line {
      transition: 0.3s all;

      &:first-child {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
      }

      &:last-child {
        bottom: 50%;
        transform: translateY(50%) rotate(-45deg);
      }
    }
  }

  @media (min-width: 1280px) {
    display: none;
  }
}

.burger__box {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 20px;
  height: 9px;
}

.burger__line {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  transition: 0.3s all;

  &:first-child {
    top: 0;
    transform: translateY(0) rotate(0);
  }

  &:last-child {
    bottom: 0;
    transform: translateY(0) rotate(0);
  }
}

.burger__text {
  font-family: $first-font;
  margin-left: auto;
  line-height: 15px;
  font-size: 12px;
  color: #FFFFFF;
}
