.button {
  background-color: #000000;
  width: 100%;
  padding: 30px 10px;
  padding-top: 28px;
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-family: $first-font;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;

  & > svg {
    width: 10px;
    height: 10px;
    margin-left: 15px;
  }
}
