.call {
  font-size: 14px;
  line-height: 17px;
  font-family: $first-font;
  color: #FFFFFF;
  border-bottom: 1px dashed #FFFFFF;

  &:hover {
    transition: 0.3s border-bottom;
    border-bottom: 1px dashed transparent;
  }

  @media (min-width: 1280px) {
    color: #000000;
    border-bottom: 1px dashed #000000;
  }
}
