.control {
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  bottom: 80px;
  right: 0;
  left: inherit;
  top: inherit;
  transition: 0.3s background-color;

  & > svg {
    width: 16px;
    height: 16px;
    fill: #000000;
    transition: 0.3s fill;
  }

  &::after {
    display: none;
  }

  &:hover {
    background-color: $first-color;

    & > svg {
      fill: #FFFFFF;
    }
  }

  &--prev {
    & > svg {
      transform: rotate(180deg);
    }
  }
}
