.desc {
  background-color: $second-color;
  border-radius: 30px 0px 0px 0px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;


  @media (min-width: 1024px) {
    padding: 28px 40px;
    border-radius: 50px 0px 0px 0px;
  }

  & > p {
    text-align: center;
    font-size: 16px;
    line-height: 130%;
    font-weight: 300;

    & > span {
      font-weight: 400;
    }

    @media (min-width: 1024px) {
      font-size: 18px;
    }
  }
}
