.feature {
  display: flex;
  align-items: center;
  justify-content: center;

  & > p {
    color: $first-color;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    margin-left: 10px;
  }

  & > svg {
    width: 18px;
    height: 18px;
    fill: $first-color;
  }
}
