.header {
  position: relative;

  @media (min-width: 1280px) {
    border-bottom: 1px solid #EDEDED;
  }
}

.header__wrap {
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin: 0 auto;
  padding: 15px 20px;

  @media (min-width: 768px) {
    max-width: 740px;
  }

  @media (min-width: 1000px) {
    max-width: 980px;
  }

  @media (min-width: 1280px) {
    max-width: 1280px;
  }
}

.header__logo {
  width: 170px;

  @media (min-width: 1280px) {
    width: 213px;
  }
}

.header__burger {
  max-width: 98px;
  margin-left: auto;
}

.header__menu {
  position: absolute;
  top: -1000px;
  left: 0;
  right: 0;
  z-index: 10;
  transition: 0.3s all;

  &--active {
    top: 0;
  }

  @media (min-width: 1280px) {
    position: relative;
    top: 0;
    width: 100%;
  }
}
