.hours {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;

  & > span {
    text-transform: uppercase;
  }

  &--bottom {
    color: $second-color;
  }

  @media (min-width: 1280px) {
    color: #000000;
  }
}
