.menu {
  padding: 30px 20px;
  padding-top: 130px;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::before {
    @include pseudo;
    width: 100%;
    height: 45px;
    position: absolute;
    bottom: -45px;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }

  @media (min-width: 1280px) {
    flex-direction: row;
    background-color: transparent;
    padding: 0;

    &::before {
      display: none;
    }
  }
}

.menu__nav {
  margin-bottom: 55px;

  @media (min-width: 1280px) {
    margin: 0;
  }
}

.menu__inner {
  position: absolute;
  top: 10px;
  left: 20px;

  @media (min-width: 1280px) {
    position: relative;
    margin-left: auto;
    top: 0;
    left: 0;
  }
}

.menu__info {
  @media (min-width: 1280px) {
    display: none;
  }
}
