.name {
  padding: 20px;
  background-color: #000000;
  border-radius: 0px 0px 0px 30px;

  @media (min-width: 1024px) {
    padding: 26px 20px;
  }
}

.name__text {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;

  @media (min-width: 1024px) {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
  }
}
