.nav__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;

  @media (min-width: 1280px) {
    flex-direction: row;
    row-gap: 10px;
    column-gap: 42px;
  }
}

.nav__item {

  @media (min-width: 1280px) {
    &--far {
      margin-left: 329px;
    }
  }
}

.nav__link {
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  text-transform: uppercase;
  position: relative;

  @media (min-width: 1280px) {
    font-weight: 300;
    color: #000000;

    &::before {
      @include pseudo;
      height: 1px;
      width: 0;
      background-color: #000000;
      position: absolute;
      left: 0;
      bottom: -2px;
      transition: 0.4s width;
    }

    &:hover::before {
      width: 100%;
      transition: 0.4s width;
    }
  }
}
