.promo {
  padding-top: 20px;
  padding-bottom: 35px;

  @media (min-width: 1024px) {
    padding-top: 65px;
    padding-bottom: 65px;
  }
}

.promo__header {
  margin-bottom: 35px;

  @media (min-width: 1024px) {
    margin-bottom: 80px;
  }
}

.promo__main {
  position: relative;

  @media (min-width: 1024px) {
    display: flex;
  }
}

.promo__title {
  position: relative;

  & > div {
    padding-left: 40px;
  }

  @media (max-width: 359px) {
    width: 280px;

    & > div {
      padding-left: 0;
    }
  }

  @media (min-width: 1024px) {
    width: 800px;

    & > div {
      padding-left: 120px;
    }

    & > .lines {

      &::before,
      &::after {
        width: 281px;
        right: -50px;
      }

      &::before {
        top: 37px;
      }

      &::after {
        top: 62px;
      }
    }
  }

  @media (min-width: 1280px) {
    font-size: 80px;
    line-height: 98px;
    margin: 0;
    padding-left: 100px;
    width: 1160px;

    & > div {
      padding-left: 320px;
    }

    & > .lines {

      &::before,
      &::after {
        right: 65px;
      }
    }
  }
}

.promo__image {
  border-radius: 0px 0px 70px 0px;
  margin-bottom: 35px;
  overflow: hidden;
  line-height: 0;

  @media (min-width: 1024px) {
    border-radius: 157px 0px 0px 0px;
    margin-bottom: 30px;
  }

  @media (min-width: 1280px) {
    margin-bottom: 95px;
  }
}

.promo__caption {
  display: none;
}

.promo__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 154%;
  text-align: center;
  color: $first-color;
  max-width: 255px;
  margin: 0 auto;
  margin-bottom: 20px;

  @media (min-width: 1024px) {
    font-size: 20px;
    text-align: left;
    margin: 0;
    margin-bottom: 25px;
  }
}

.promo__desc {
  font-weight: 300;
  font-size: 16px;
  line-height: 142%;
  text-align: center;

  @media (min-width: 1024px) {
    margin-bottom: 30px;
    text-align: left;
    width: 200px;
  }

  @media (min-width: 1280px) {
    margin-bottom: 95px;
  }
}

.promo__box {
  margin-bottom: 35px;

  @media (min-width: 1024px) {
    width: 25%;
    min-width: 25%;
    margin-top: -70px;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  @media (min-width: 1280px) {
    margin-top: -150px;
  }
}

.promo__button {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: 1024px) {
    position: relative;
    bottom: 0;
    left: 0;
    transform: inherit;
    width: 266px;
  }
}

.promo__feature {

  @media (min-width: 1024px) {
    bottom: 0;
    left: 0;
    position: absolute;
  }

  @media (min-height: 1280px) {
    bottom: 30px;
  }
}

.promo__slider {

  & > .swiper {

    padding-bottom: 40px;
    margin-bottom: 148px;

    .swiper__image {
      border-radius: 70px 0px 0px 0px;
      overflow: hidden;

      & picture {
        display: block;
        line-height: 0;
      }

      @media (min-width: 1024px) {
        border-radius: 0px 0px 157px 0px;
      }
    }

    .swiper-pagination {
      display: none;

      @media (min-width: 1024px) {
        display: block;
        font-weight: 700;
        text-transform: uppercase;
        font-family: $first-font;
        color: $first-color;
        position: absolute;
        right: 0;
        bottom: 0;
        text-align: right;

        .swiper-pagination-current {
          font-size: 36px;
          line-height: 44px;
          font-weight: 400;
        }
      }
    }

    .swiper-button {
      width: 48px;
      height: 40px;
      transform: translateY(0);
      top: initial;
      left: initial;
      bottom: 81px;

      @media (min-width: 1024px) {
        bottom: 93px;
      }
    }

    .swiper-button-prev {
      right: 48px;

      @media (min-width: 1024px) {
        right: 133px;
      }
    }

    .swiper-button-next {
      right: 0;

      @media (min-width: 1024px) {
        right: 85px;
      }
    }

    .swiper__desc {
      width: calc(100% - 33px);
      position: absolute;
      right: 0;
      transform: translateY(-50%);

      @media (min-width: 1024px) {
        width: 361px;
        right: 85px;
        transform: translateY(-60%);
        //height: 103px;
        //min-height: 103px;
      }
    }

    @media (min-width: 1024px) {
      margin-bottom: 0;
      padding-bottom: 50px;
    }
  }

  @media (min-width: 1024px) {
    width: 66.291%;
    margin-left: auto;
    position: relative;
  }
}


