//.slider {
//  position: relative;
//
//  .swiper {
//    padding-bottom: 40px;
//    margin-bottom: 150px;
//
//    @media (min-width: 1024px) {
//      padding-bottom: 50px;
//      margin-bottom: 0;
//    }
//  }
//
//  .swiper-pagination--promo {
//    display: none;
//    font-weight: 700;
//    text-transform: uppercase;
//    font-family: $first-font;
//    color: $first-color;
//    position: absolute;
//    right: 0;
//    bottom: 0;
//
//    @media (min-width: 1024px) {
//      display: block;
//      text-align: right;
//    }
//
//    .swiper-pagination-current {
//      font-size: 36px;
//      line-height: 44px;
//      font-weight: 400;
//    }
//
//    .swiper-pagination-total {
//      font-size: 18px;
//      line-height: 22px;
//    }
//  }
//
//  .slider__image {
//    border-radius: 70px 0px 0px 0px;
//    overflow: hidden;
//    line-height: 0;
//
//    & > img {
//      width: 100%;
//      object-fit: cover;
//    }
//
//    @media (min-width: 1024px) {
//      border-radius: 0px 0px 157px 0px;
//    }
//  }
//
//  .slider-button {
//    background-color: #FFFFFF;
//    width: 48px;
//    height: 40px;
//    display: flex;
//    justify-content: center;
//    align-items: center;
//    margin: 0;
//    bottom: 80px;
//    right: 0;
//    left: inherit;
//    top: inherit;
//    transition: 0.3s background-color;
//
//    & > svg {
//      width: 16px;
//      height: 16px;
//      fill: #000000;
//      transition: 0.3s fill;
//    }
//
//    &::after {
//      display: none;
//    }
//
//    &:hover {
//      background-color: $first-color;
//
//      & > svg {
//        fill: #FFFFFF;
//      }
//    }
//
//    @media (min-width: 768px) {
//      bottom: 70px;
//    }
//
//    @media (min-width: 1024px) {
//      bottom: 95px;
//    }
//  }
//
//  .swiper-button-prev {
//    & > svg {
//      transform: rotate(180deg);
//    }
//    right: 48px;
//
//    @media (min-width: 1024px) {
//      right: 133px;
//    }
//  }
//
//  .swiper-button-next {
//    @media (min-width: 1024px) {
//      right: 85px;
//    }
//  }
//
//  .slider__inner {
//    background-color: $second-color;
//    border-radius: 30px 0px 0px 0px;
//    padding: 20px 40px;
//    display: flex;
//    align-items: center;
//    justify-content: center;
//    width: calc(100% - 33px);
//    position: absolute;
//    right: 0;
//    transform: translateY(-50%);
//
//    @media (min-width: 1024px) {
//      width: 361px;
//      padding: 28px 40px;
//      right: 85px;
//      border-radius: 50px 0px 0px 0px;
//      transform: translateY(-60%);
//    }
//  }
//
//  .slider__text {
//    text-align: center;
//    font-size: 16px;
//    line-height: 130%;
//
//    & > span {
//      font-weight: 300;
//    }
//
//    @media (min-width: 1024px) {
//      font-size: 18px;
//    }
//  }
//}
