.tabs__content {
  display: none;

  &--active {
    display: block;
  }
}

.tabs__list {
  background-color: $second-color;
  border-radius: 0px 0px 30px 0px;
  padding: 17px 45px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 12px;
  flex-wrap: wrap;

  @media (max-width: 359px) {
    padding: 17px 20px;
  }

  @media (min-width: 1024px) {
    flex-direction: row;
    column-gap: 30px;
    padding: 26px 50px;
  }
}

.tabs__item {
  background-color: transparent;
  border: none;
  font-size: 20px;
  line-height: 24px;
  color: $first-color;
  padding: 0;
  padding-left: 30px;
  position: relative;

  &::before {
    @include pseudo;
    width: 14px;
    height: 14px;
    position: absolute;
    background-color: $first-color;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &--active {
    font-weight: 600;
  }

  &::after {
    visibility: hidden;
    opacity: 0;
    @include pseudo;
    width: 6px;
    height: 6px;
    position: absolute;
    background-color: #FFFFFF;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
  }

  &--active::after {
    visibility: visible;
    opacity: 1;
  }
}

