.title {
  font-family: $first-font;
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 400;
  display: flex;
  flex-direction: column;

  & > div {
    color: $first-color;

    & > span {
      font-weight: 700;
      font-size: 14px;
      line-height: 95%;
      letter-spacing: -0.02em;
      text-transform: none;
      width: 130px;
      position: absolute;
      right: 0;
      bottom: 7px;
    }
  }

  @media (min-width: 1024px) {
    font-size: 64px;
    line-height: 78px;

    & > div {

      & > span {
        font-size: 28px;
        line-height: 34px;
        font-weight: 400;
        width: max-content;
        bottom: 20px;
      }
    }
  }

  @media (min-width: 1280px) {

    & > div {

      & > span {
        bottom: 30px;
      }
    }
  }
}
